h1{
    font-family: "Protest Guerrilla", sans-serif;

}
#an{
    font-family: "Pacifico", cursive;
}
.full-screen {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.full-screen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}